.App{
    height: 60vh;
    width: 100vw;
    text-align: center;
    
}

.logo1{
    width: 100%;
    background-color: #E9F1FE;
}

.logo1 img {
    width: 100%;
    height: auto;
}

/* .input-icon i {
    position: absolute;
}
.fa-lg {
    padding: 10px;
    min-width: 40px;
}
.in{
    width: 500px;
    font-size: large;
    height: 40px;
    margin-top: 3%;
    border-radius: 20px;
    padding: 10px;
} */

.input-icons i {
    position: absolute;
}
 
.input-icons {
    margin: 30px auto 10px auto;
    width: 500px;
}
 
.icon {
    padding: 10px;
    color: #897BF1;
    min-width: 50px;
    text-align: center;
}
 
/* .in {
    width: 100%;
    padding: 10px 10px 10px 50px;
    text-align: left;
    border-radius: 30px;
} */

.in{
    width: 100%;
    padding: 10px 10px 10px 50px;
    text-align: left;
    border-radius: 16px;
    border: 1px solid #897BF1;
    background: #FFF;
    box-shadow: 0px 14px 14px 0px rgba(191, 197, 224, 0.25);
}

.in :focus{
    border-color:  #897BF1; 
    box-shadow: 0px 14px 14px 0px rgba(191, 197, 224, 0.25);
}

.show{
    width: 500px;
    background-color: white;
    box-shadow: 0px 0px 8px #ddd;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
    margin: 20px auto;
    
}
.list:hover{
    background-color: #ddd;
    cursor: pointer;
}

table {
    margin: auto;
}

.label_Y{
    color: red;
    text-align: center;
    margin-left: auto;
}

.label_G{
    color: green;
    text-align: center;
    margin: auto;
}

.cw {
    margin: 10% auto ;
    width: 50%;
}

.Dashboard{
    width: 100%;
    height: 300px;
    background-color: aliceblue;
}

.Menu{
    width: 500px;
    margin: 0 auto ;
    text-align: center;
}
.AddCal button {
    width: 200px;
    height: 76px;
    background-color: #05CF4A;
    color: white;
    font-weight: bold;
    font-size: x-large;
    float: left;
    margin-right: 5vh;
    border-radius: 10px;
    border-color: white;
}

.EditCal button{
    width: 200px;
    height: 76px;
    background-color: #CCCC00;
    color: white;
    font-weight: bold;
    font-size: large;
    float: left;
    margin-right: 5vh;
    border-radius: 10px;
    border-color: white;
}

.DelCal button{
    width: 200px;
    height: 76px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: large;
    margin-right: 5vh;
    border-radius: 10px;
    margin-top: 10px;
    border-color: white;
}

.Menu_x1{
    width: 500px;
    margin: 20px auto ;
    text-align: center;
}

.Menu_x1 button {
    
}

.btnAAdd{
    margin-top: 20%;
    width: 200px;
    height: 76px;
    background-color: #05CF4A;
    color: white;
    font-weight: bold;
    font-size: x-large;
    border-radius: 10px;
    border-color: white;
}

.btnAAdc{
    width: 200px;
    height: 76px;
    background-color: #05CF4A;
    color: white;
    font-weight: bold;
    font-size: x-large;
    border-radius: 10px;
    border-color: white;
}

.Addcsv{
    width: 80%;
    background-color: #e9e7e7;
    margin: 0 auto;
    height: 60vh;
    border-radius: 10px;
}

.uploadbtn {
    margin-top : 5%;
    width:40%;
    height: 40%;
    background-color:#e9e7e7 ;
    border-color: #e9e7e7;
}

.uploadbtn img {
    width: 100%;
    height: auto;
    margin: 20px 80%
}

.tablelist{
    width: 70%;
}
.tablelist td , th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.tabletb tr:nth-child(odd) {
    background-color: red;
  }
.showinfo{
    width: 100%;
    height: 300px;
    margin: 0 auto;
}
.picbox {
    text-align: center;
    width: 48%;
    height: 100%;
    float: left;
    margin: 0 1% 0 1% ;
    padding-top: 1%;
    background-color: #05CF4A;
}
.infobox{
    width: 48%;
    height: 100%;
    float: left;
    margin: 0 auto;
}
.picbox img{
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.infolabal {
    /* border-color: #F12B2C ;
    background-color: #F12B2C;
    border-radius: 10px;
    color: white;
    width: 30%;
    height: 2rem;
    text-align: center; */
    display: flex;
    width: 20%;
    height: auto;
    padding: 2px 6px;
    text-align: center;
    align-items:center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--Red, #F12B2C);
    color: white;
}

.infosub{
    float: left;
    width: 200px;
    text-align: center;
    
}

.infosub1{
    float: left;
    margin-left: 20px;
}

.Add_data1{
    background-color: #05CF4A;
    width: 50%;
    height: 500px;
    float: left;
    margin: 2px;
}

.Add_data2{
    background-color: red;
    width: 50%;
    height: 500px;
    float: right;
    margin: 2px;

}

.GroupName_Box{
    margin: 10% auto 0 auto;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border:1px solid var(--stroke-light, #ee00fb);
    width: 85%;
}

.GroupName_input {

    margin-top: 10px;
    margin-bottom: 10px;
    height: 44px;
    width: 85%;
    border-radius: 8px;
    border: 1px solid var(--grey-dark, #D1D1D1);
    background: var(--White, #FFF);
}

.GroupName_h4 {
    width: 100%;
    text-align: center;
    padding-top: 2%;
    color: #54595E;
    color: var(--secondary-dark-color, #54595E);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.radioSelect {
    margin-top: 15px;
    margin-left: 10px ;
}
.radioSelect label{
    margin-left: 10px ;
    margin-right: 20px;
    width: 100%;

}

.C1_styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.C1_styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.C1_styled-table th,
.C1_styled-table td {
    padding: 12px 15px;
}

.C1_styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.C1_styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.C1_styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.C1_styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.C1_th1{
    text-align: center;
    width: 5%;
}
.C1_th2{
    text-align: center;
    width: 15%;
}
.C1_th3{
    text-align: center;
    width:40% ;
}

.C1_th4{
    text-align: center;
    width: 10%;
}

.C1_th5{
    text-align: center;
    width: 10%;
}

.C1_th6{
    text-align: center;
    width: 2%;
}


.C2_styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.C2_styled-table thead tr {
    background-color: #FF0000;
    color: #ffffff;
    text-align: left;
}

.C2_styled-table th,
.C2_styled-table td {
    padding: 12px 15px;
}

.C2_styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.C2_styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.C2_styled-table tbody tr:last-of-type {
    border-bottom: 2px solid#FF0000;
}
.C2_styled-table tbody tr.active-row {
    font-weight: bold;
    color: #FF0000;
}

.C2_th1{
    text-align: center;
    width: 5%;
}
.C2_th2{
    text-align: center;
    width: 15%;
}
.C2_th3{
    text-align: center;
    width:40% ;
}

.C2_th4{
    text-align: center;
    width: 10%;
}

.C2_th5{
    text-align: center;
    width: 10%;
}

.C2_th6{
    text-align: center;
    width: 2%;
}

.C3_styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.C3_styled-table thead tr {
    background-color: #FDDA0D;
    color: #ffffff;
    text-align: left;
}

.C3_styled-table th,
.C3_styled-table td {
    padding: 12px 15px;
}

.C3_styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.C3_styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.C3_styled-table tbody tr:last-of-type {
    border-bottom: 2px solid#FDDA0D;
}
.C3_styled-table tbody tr.active-row {
    font-weight: bold;
    color: #FDDA0D;
}

.C3_th1{
    text-align: center;
    width: 5%;
}
.C3_th2{
    text-align: center;
    width: 15%;
}
.C3_th3{
    text-align: center;
    width:40% ;
}

.C3_th4{
    text-align: center;
    width: 10%;
}

.C3_th5{
    text-align: center;
    width: 10%;
}

.C3_th6{
    text-align: center;
    width: 2%;
}

.C1_save {
    margin-top: 10px;
    margin-bottom: 50px;
}

.C1_sava1 {
    margin-top: auto;
    margin-bottom: auto;
}

.C2_labal {
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: xx-large;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.showch_styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}


.showch_styled-table thead tr {
    background-color: #897BF1;
    color: #ffffff;
    text-align: left;
}

.showch_styled-table th,
.showch_styled-table td {
    padding: 12px 15px;
}

.showch_styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.showch_styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.showch_styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.showch_styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.showch_th1{
    text-align: center;
    width: 4%;
}
.showch_th2{
    text-align: center;
    width: 9%;
}
.showch_th3{
    text-align: center;
    width:10% ;
}

.showch_th4{
    text-align: center;
    width: 5%;
}

.showch_th5{
    text-align: center;
    width: 10%;
}

.showch_th6{
    text-align: center;
    width: 10%;
}
