.App{
    height: 60vh;
    width: 100vw;
    text-align: center;
    
}

.logo1{
    width: 100%;
    background-color: #E9F1FE;
}

.logo1 img {
    width: 100%;
    height: auto;
}

/* .input-icon i {
    position: absolute;
}
.fa-lg {
    padding: 10px;
    min-width: 40px;
}
.in{
    width: 500px;
    font-size: large;
    height: 40px;
    margin-top: 3%;
    border-radius: 20px;
    padding: 10px;
} */

.input-icons i {
    position: absolute;
    align-items: center;
}
 
.input-icons {
    margin: 30px auto 10px auto;
    width: 500px;
}
 
.icon {
    padding: 10px;
    color: #897BF1;
    min-width: 50px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
 
/* .in {
    width: 100%;
    padding: 10px 10px 10px 50px;
    text-align: left;
    border-radius: 30px;
} */

.in{
    width: 100%;
    padding: 10px 10px 10px 50px;
    text-align: left;
    border-radius: 16px;
    border: 1px solid #897BF1;
    background: #FFF;
    box-shadow: 0px 14px 14px 0px rgba(191, 197, 224, 0.25);
}

.in :focus{
    border-color:  #897BF1; 
    box-shadow: 0px 14px 14px 0px rgba(191, 197, 224, 0.25);
}

.show{
    width: 500px;
    background-color: white;
    box-shadow: 0px 0px 8px #ddd;
    margin-top: 1rem;
    max-height: 300px;
    overflow-y: scroll;
    margin: 20px auto;
    
}
.list:hover{
    background-color: #ddd;
    cursor: pointer;
}

table {
    margin: auto;
}

.label_Y{
    color: red;
    text-align: center;
    margin-left: auto;
}

.label_G{
    color: green;
    text-align: center;
    margin: auto;
}

.cw {
    margin: 10% auto ;
    width: 50%;
}

.Dashboard{
    width: 100%;
    height: 300px;
    background-color: aliceblue;
}

.info_homeAdd{
    margin-top: 30px ;
    margin-left: 30px;
    width: 25%;
    height: 85%;
    background-color: white;
    float: left;
    border-radius: 16.893px;

}

.h1Ininfo_homeAdd{
    /* //font-size: small; */
    color: #15192C;
    font-family: Abhaya Libre SemiBold;
    font-size: 16.893px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.338px;
}
.btn_showAdd{
    width: 100%;
}
.showBtn_add{
    border-radius: 20px;
    width: 20%;
    height: 89px;
    flex-shrink: 0;
    background: #F3D380;
    margin-top: 30px ;
    margin-left: 3%;
    color: #000;
    border-color: #F3D380 ;
    float: left;
    
}

.Menu{
    width: 500px;
    margin: 0 auto ;
    text-align: center;
}
.AddCal button {
    width: 200px;
    height: 76px;
    background-color: #05CF4A;
    color: white;
    font-weight: bold;
    font-size: x-large;
    float: left;
    margin-right: 5vh;
    border-radius: 10px;
    border-color: white;
}

.EditCal button{
    width: 200px;
    height: 76px;
    background-color: #CCCC00;
    color: white;
    font-weight: bold;
    font-size: large;
    float: left;
    margin-right: 5vh;
    border-radius: 10px;
    border-color: white;
}

.DelCal button{
    width: 200px;
    height: 76px;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: large;
    margin-right: 5vh;
    border-radius: 10px;
    margin-top: 10px;
    border-color: white;
}

.Menu_x1{
    width: 500px;
    margin: 20px auto ;
    text-align: center;
}

.Menu_x1 button {
    
}

.btnAAdd{
    margin-top: 20%;
    width: 200px;
    height: 76px;
    background-color: #05CF4A;
    color: white;
    font-weight: bold;
    font-size: x-large;
    border-radius: 10px;
    border-color: white;
}

.btnAAdc{
    width: 200px;
    height: 76px;
    background-color: #05CF4A;
    color: white;
    font-weight: bold;
    font-size: x-large;
    border-radius: 10px;
    border-color: white;
}

.Addcsv{
    width: 80%;
    background-color: #e9e7e7;
    margin: 0 auto;
    height: 60vh;
    border-radius: 10px;
}

.uploadbtn {
    margin-top : 5%;
    width:40%;
    height: 40%;
    background-color:#e9e7e7 ;
    border-color: #e9e7e7;
}

.uploadbtn img {
    width: 100%;
    height: auto;
    margin: 20px 80%
}

.tablelist{
    width: 70%;
}
.tablelist td , th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.tabletb tr:nth-child(odd) {
    background-color: red;
  }
.showinfo{
    width: 100%;
    height: 300px;
    margin: 0 auto;
}
.picbox {
    text-align: center;
    width: 48%;
    height: 100%;
    float: left;
    margin: 0 1% 0 1% ;
    padding-top: 1%;
    background-color: #05CF4A;
}
.infobox{
    width: 48%;
    height: 100%;
    float: left;
    margin: 0 auto;
}
.picbox img{
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.infolabal {
    /* border-color: #F12B2C ;
    background-color: #F12B2C;
    border-radius: 10px;
    color: white;
    width: 30%;
    height: 2rem;
    text-align: center; */
    display: flex;
    width: 20%;
    height: auto;
    padding: 2px 6px;
    text-align: center;
    align-items:center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 4px;
    background: var(--Red, #F12B2C);
    color: white;
}

.infosub{
    float: left;
    width: 200px;
    text-align: center;
    
}

.infosub1{
    float: left;
    margin-left: 20px;
}

.Add_data1{
    background-color: #05CF4A;
    width: 50%;
    height: 500px;
    float: left;
    margin: 2px;
}

.Add_data2{
    background-color: red;
    width: 50%;
    height: 500px;
    float: right;
    margin: 2px;

}

.GroupName_Box{
    margin: 10% auto 0 auto;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border:1px solid var(--stroke-light, #ee00fb);
    width: 85%;
}

.GroupName_input {

    margin-top: 10px;
    margin-bottom: 10px;
    height: 44px;
    width: 85%;
    border-radius: 8px;
    border: 1px solid var(--grey-dark, #D1D1D1);
    background: var(--White, #FFF);
}

.GroupName_h4 {
    width: 100%;
    text-align: center;
    padding-top: 2%;
    color: #54595E;
    color: var(--secondary-dark-color, #54595E);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
 
.radioSelect {
    margin-top: 15px;
    margin-left: 20px ;
    margin-right: 20px;
    
}
.radioSelect label{
    margin-left: 10px ;
    margin-right: 30px;
    width: 100%;

} 

.C1_styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.C1_styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.C1_styled-table th,
.C1_styled-table td {
    padding: 12px 15px;
}

.C1_styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.C1_styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.C1_styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.C1_styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.C1_th1{
    text-align: center;
    width: 5%;
}
.C1_th2{
    text-align: center;
    width: 15%;
}
.C1_th3{
    text-align: center;
    width:40% ;
}

.C1_th4{
    text-align: center;
    width: 10%;
}

.C1_th5{
    text-align: center;
    width: 10%;
}

.C1_th6{
    text-align: center;
    width: 2%;
}


.C2_styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.C2_styled-table thead tr {
    background-color: #FF0000;
    color: #ffffff;
    text-align: left;
}

.C2_styled-table th,
.C2_styled-table td {
    padding: 12px 15px;
}

.C2_styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.C2_styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.C2_styled-table tbody tr:last-of-type {
    border-bottom: 2px solid#FF0000;
}
.C2_styled-table tbody tr.active-row {
    font-weight: bold;
    color: #FF0000;
}

.C2_th1{
    text-align: center;
    width: 5%;
}
.C2_th2{
    text-align: center;
    width: 15%;
}
.C2_th3{
    text-align: center;
    width:40% ;
}

.C2_th4{
    text-align: center;
    width: 10%;
}

.C2_th5{
    text-align: center;
    width: 10%;
}

.C2_th6{
    text-align: center;
    width: 2%;
}

.C3_styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.C3_styled-table thead tr {
    background-color: #FDDA0D;
    color: #ffffff;
    text-align: left;
}

.C3_styled-table th,
.C3_styled-table td {
    padding: 12px 15px;
}

.C3_styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.C3_styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.C3_styled-table tbody tr:last-of-type {
    border-bottom: 2px solid#FDDA0D;
}
.C3_styled-table tbody tr.active-row {
    font-weight: bold;
    color: #FDDA0D;
}

.C3_th1{
    text-align: center;
    width: 5%;
}
.C3_th2{
    text-align: center;
    width: 15%;
}
.C3_th3{
    text-align: center;
    width:40% ;
}

.C3_th4{
    text-align: center;
    width: 10%;
}

.C3_th5{
    text-align: center;
    width: 10%;
}

.C3_th6{
    text-align: center;
    width: 2%;
}

.C1_save {
    margin-top: 10px;
    margin-bottom: 50px;
}

.C1_sava1 {
    margin-top: auto;
    margin-bottom: auto;
}

.C2_labal {
    margin-top: 5%;
    margin-bottom: 3%;
    font-size: xx-large;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.showch_styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}


.showch_styled-table thead tr {
    background-color: #897BF1;
    color: #ffffff;
    text-align: left;
}

.showch_styled-table th,
.showch_styled-table td {
    padding: 12px 15px;
}

.showch_styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.showch_styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.showch_styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.showch_styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.showch_th1{
    text-align: center;
    width: 3%;
}
.showch_th2{
    text-align: center;
    width: 10%;
}
.showch_th3{
    text-align: center;
    width:10% ;
}

.showch_th4{
    text-align: center;
    width: 5%;
}

.showch_th5{
    text-align: center;
    width: 20%;
}

.showch_th6{
    text-align: center;
    width: 3%;
}

.icon_showch{
    cursor: pointer;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    width: 100%;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }



  div.panel{
    max-width: 85%;
    margin: auto;
    margin-top: calc(5% - 0px);
}
details{
    background:#fff;
    font-size:16px;
    border-bottom:1px solid #e0e0e0;
      box-shadow:0 0 2px rgba(0,0,0,0.12),0 2px 4px rgba(0,0,0,0.24);
    display:flex; }

details div.content{
    padding:0px 24px 24px 24px;
}

details[open] summary:after {
    color:#9e9e9e;
    content: "expand_less";
    font-family: 'Material Icons';
}
details[open]{
    margin-top:16px;
    margin-bottom:16px;
    border:none;
    border-radius: 2px;


}
details[open]:first-child{
    margin-top:0;
    margin-bottom:16px;
    border:none;
}
details[open]:last-child{
    margin-top:16px;
    margin-bottom:0px;
    border:none;
}

summary{
    outline:none;
    cursor: pointer;
    padding: 16px 24px;
    color:#212121;
    position: relative;
    font-size: 15px;
}
summary:hover{
    background:#eeeeee;
}

details[open] summary:hover{
    background:none;
}
summary ul {
    padding-left: 0;
    list-style: none;
    display: -webkit-flex;
    display: flex;
    align-items: center;
}
summary ul li{
     flex: 1 100%;
     flex-flow: row wrap;
}
summary ul li span{
      display: block;
      font-size: 12px;
      margin-top: 6px;
      opacity: .75;
}
summary::-webkit-details-marker {
    display: none;
}
summary::after {
    content: "expand_more";
    font-family: 'Material Icons';
    color: #9e9e9e;
    font-size: 1.5em;
    padding: 0;
    text-align: center;
    margin-top: 0;
    position: absolute;
    top: calc(50% - 12px);
    bottom: 0;
    right: 0;
    width: 6%;
}  

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

html, body, ul, ol {
    margin: 0;
    padding: 0;
}


.C1A_styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.C1A_styled-table thead tr {
    background-color: #897BF1;
    color: #ffffff;
    text-align: left;
}

.C1A_styled-table th,
.C1A_styled-table td {
    padding: 12px 15px;
}

.C1A_styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.C1A_styled-table tbody tr:nth-of-type(even) {
    background-color: #F7F6FE;;
}

.C1A_styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #897BF1;
}
.C1A_styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.C1A_th1{
    text-align: center;
    width: 5%;
}
.C1A_th2{
    text-align: center;
    width: 15%;
}
.C1A_th3{
    text-align: center;
    width:40% ;
}

.C1A_th4{
    text-align: center;
    width: 10%;
}

.C1A_th5{
    text-align: center;
    width: 10%;
}

.C1A_th6{
    text-align: center;
    width: 2%;
}

.C1AnameC{
    /* width: 75%;
    border-radius: 10px;
    padding: 10px;
    border-color: #897BF1;
    min-width: 50px;
     */
     width: 65%;
     padding: 10px 10px 10px 50px;
     text-align: left;
     border-radius: 16px;
     border: 1px solid #1a1a1b;
     background: #FFF;
     box-shadow: 0px 14px 14px 0px rgba(191, 197, 224, 0.25);
     margin-left: auto;
     margin-right: auto;
     display: block;
   
}
.C1AnameC:hover{
    color: #00B4CC;
  }
.wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .btnC1ACheck{
    color: #fdfdfd; /* Replace with your desired color code */
    background-color: #15BD58;
    border-color: #15BD58;
    border-radius: 10px;
    height: 10%;
    font-size: 24px; /* Replace with your desired font size */
  }


  .c2Aname{
    font-size: x-large;
  }

  .C2_sava1{
    color: white;
    background-color: #05CF4A;
    width: 5%;
    height: 30px;
    border-color: #05CF4A;
    border-radius: 10px;
  }




 


  /* USER LIST TABLE */
  .user-list tbody td > img {
      position: relative;
      max-width: 50px;
      float: left;
      margin-right: 15px;
  }
  .user-list tbody td .user-link {
      display: block;
      font-size: 1.25em;
      padding-top: 3px;
      margin-left: 60px;
  }
  .user-list tbody td .user-subhead {
      font-size: 0.875em;
      font-style: italic;
  }
  
  

  .C2E_styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    text-align: center;
}

.C2E_styled-table thead tr {
    background-color: #047ce6;
    color: #ffffff;
    text-align: left;
}

.C2E_styled-table th,
.C2E_styled-table td {
    padding: 12px 15px;
}

.C2E_styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.C2E_styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.C2E_styled-table tbody tr:last-of-type {
    border-bottom: 2px solid#047ce6;
}
.C2E_styled-table tbody tr.active-row {
    font-weight: bold;
    color: #047ce6;
}

.C2E_th1{
    text-align: center;
    width: 5%;
}
.C2E_th2{
    text-align: center;
    width: 15%;
}
.C2E_th3{
    text-align: center;
    width:40% ;
}

.C2E_th4{
    text-align: center;
    width: 10%;
}

.C2E_th5{
    text-align: center;
    width: 10%;
}

.C2E_th6{
    text-align: center;
    width: 2%;
}

@media print {
   #printbtn {
    display: none;
   } 
   @page {
    margin: 0;
   }
   body{
    margin: 1.6cm;
   }
}




.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px 25px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {
    padding-bottom: 15px;
    background: #299be4;
    color: #fff;
    padding: 16px 30px;
    margin: -20px -25px 10px;
    border-radius: 3px 3px 0 0;
}
.table-title h2 {
    margin: 5px 0 0;
    font-size: 24px;
}
.table-title .btn {
    color: #ebedf1;
    float: right;
    font-size: 13px;
    background: #299be4;
    border: none;
    min-width: 50px;
    border-radius: 2px;
    border: none;
    outline: none !important;
    margin-left: 10px;
    cursor: pointer; 
}

.table-title .btn i {
    float: left;
    font-size: 21px;
    margin-right: 5px;
}
.table-title .btn span {
    float: left;
    margin-top: 2px;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 15px;
    vertical-align: middle;
}
table.table tr th:first-child {
    width: 60px;
}
table.table tr th:last-child {
    width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}
table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}	
table.table td:last-child i {
    opacity: 0.9;
    font-size: 22px;
    margin: 0 5px;
}
table.table td a {
    font-weight: bold;
    color: #566787;
    display: inline-block;
    text-decoration: none;
}
table.table td a:hover {
    color: #2196F3;
}
table.table td a.settings {
    color: #2196F3;
}
table.table td a.delete {
    color: #F44336;
    cursor: pointer;
}
table.table td i {
    font-size: 19px;
}
table.table .avatar {
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}
.status {
    font-size: 30px;
    margin: 2px 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    line-height: 10px;
}
.text-success {
    color: #10c469;
}
.text-info {
    color: #62c9e8;
}
.text-warning {
    color: #FFC107;
}
.text-danger {
    color: #ff5b5b;
}
.pagination {
    float: right;
    margin: 0 0 5px;
}
.pagination li a {
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}
.pagination li a:hover {
    color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
    background: #03A9F4;
}
.pagination li.active a:hover {        
    background: #0397d6;
}
.pagination li.disabled i {
    color: #ccc;
}
.pagination li i {
    font-size: 16px;
    padding-top: 6px
}
.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}




.C2EM_th1{
    text-align: center;
    width: 5%;
}
.C2EM_th2{
    text-align: center;
    width: 40%;
}
.C2EM_th3{
    text-align: center;
    width:15% ;
}

.C2EM_th4{
    text-align: center;
    width: 15%;
}

.C2EM_th5{
    text-align: center;
    width: 10%;
}

.C2EM_th6{
    text-align: center;
    width: 10%;
}

.deleteM{
    text-align: center;
   
}
.deleteM i {
    color: red;
  
    margin-left: auto;
    margin-right: auto;
}






.card {
    
    
    width: 100%;
    height: 100%;
    position: absolute;
    background: white;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); */
    transition: all 0.3s;
    
    /* &:hover {
      
      box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    
    } */
    
  
    
    .photo {
      margin-top: 50px;
      padding: 30px;
      width: 45%;
      text-align: center;
      float: left;
      
      img { 
        max-height: 240px; 
      }
      
    }
    
    .description {
        margin-top: 50px;
       padding: 30px;
       float: left;
       width: 55%;
       border-left: 2px solid #efefef;
       
       h1 {
         color: #515151;
         font-weight: 300;
         padding-top: 0px;
         margin: 0px;
         font-size: 30px;
         font-weight: 300;
       }
     
       h2 {
        margin: 0px;
        color: #515151;
        
        text-transform: uppercase;
        font-weight: 500;
       }
      
       h4 { 
         margin: 0;
         color: #727272;
         text-transform: uppercase;
         font-weight: 500;
         font-size: 12px
       }
      
       p { 
         font-size: 12px; 
         line-height: 20px;
         color: #727272;
         padding: 20px 0;
         margin: 0;
      }
      
       button {

         outline: 0;
         border: 0;
         background: none;
         border: 1px solid #d9d9d9;
         padding: 8px 0px;
         margin-bottom: 30px;
         color: #515151;
         text-transform: uppercase;
         width: 125px;
         font-family: inherit;
         margin-right: 5px;
         transition: all 0.3s ease;
         font-weight: 500;
         
         &:hover {
           
          
           border: 1px solid #aedaa6;
           color: #aedaa6;
           cursor: pointer;
           
         }

       }
      
    }
    
  }

  @media screen and (max-width: 600px) {
    /* Add your responsive styles for smaller screens here */
    .card {
      /* Example: Adjust card styling for smaller screens */
      width: 90%;
      margin: 0 auto;
    }
  
    /* Add more responsive styles as needed */
  }

  
  .btnCfda{
    height: 10vh;
    width: 100vw;
    text-align: center;
    
}




.bodyTproductlist{
   height: 650px;
   overflow: auto;
   text-align: center;
   border-collapse: collapse;
}
    

.table_section{
    height: 300x;
    overflow: auto;
}
    /* body{
        overflow: hidden;
    } */
   

  

    .tpl th{
        position: sticky;
        top: 0;
        background-color: #f6f9fc;
        color: #8493a5;
        font-size: 15px;
    } 
        

   
    
    .plac  {
        border-bottom: 1px solid #dddddd;
        padding: 10px 20px;
       word-break: break-all;
       text-align: center;
    }

    /* td img{
        height: 60px;
        width: 60px;
        object-fit: cover;
        border-radius: 15px;
        border: 5px solid #ced0d2;
    } */

   .trplc tr:hover {
        color: #0eacd8;
        cursor: pointer;
        background-color: #f6f9fc;

    }


.table_tp{
    width: 100%;
    table-layout: fixed;
    min-width: 1000px;
}

.pl{
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 10px;
    
}

.plTD :nth-child(1){
   
}

.plTD :nth-child(2){
    
}





